.header {
  background: #034bbd; /* copied from assemble's website ;) */
  color: #fff;
  margin-top: 1rem;
}
.header h1 {
  font-size: 1.125rem;
  padding: 0.5rem 0.25rem;
}
button.btn-assemble {
  background: #034bbd;
  color: #fff;
  font-size: 0.875rem;
}
button.btn-assemble:hover {
  color: #fff;
  background: #116cfb;
}
.cartheader {
  border-bottom: 1px solid #ddd;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
.cartfooter {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.confirm-text {
  padding-bottom: 2rem;
}
.page-container {
  padding: 0 2rem;
}

/* helper classes to avoid redeclaring repeatedly */
.allcaps {
  text-transform: uppercase;
}
.center {
  text-align: center;
  margin: 0 auto;
}
